* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

img {
    display: block;
    width: 100vw;
}

input,
button {
    outline: unset;
    border: unset;
    background: unset;
}

/* -----------======== header ========----------- */

header {
    position: relative;
    overflow: hidden;
}

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffff;
    border-bottom: 1px solid #ffff;
    padding: 0 30px;
    width: 100%;
    height: 95px;
    z-index: 998;
}

.header__logo-img {
    width: 125px;
}

.header__burgerMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15px;
}

.header__burgerMenu:focus div {
    background: #17bed2;
    width: 21px;
}

.header__burgerMenu-line {
    background: #000;
    transition: .5s all;
}

.headerFisrtLine {
    width: 10px;
    height: 1px;
}

.headerSecondLine {
    width: 16px;
    height: 1px;
}

.headerThirdLine {
    width: 21px;
    height: 1px;
}

.header__listBlock {
    position: absolute;
    background: #ffff;
    transition: .2s;
    width: 100%;
    height: 0;
    top: 5.9em;
    left: 0;
    z-index: 999;
}

.burgerActive {
    animation: grow .2s linear 1;
    animation-fill-mode: forwards;
}

@keyframes grow {
    0% {
        height: 0px;
    }
    100% {
        height: 320px;
    }
}

.burgerNot-active {
    animation: decrease .2s linear 1;
    animation-fill-mode: backwards;
}

@keyframes decrease {
    0% {
        height: 320px;
    }
    100% {
        height: 0px;
    }
}

.header__list {
    display: none;
}

.header__list-item {
    padding: 12px 20px;
}

.header--item-link {
    font: 600 13px 'Hind-Medium';
    color: #515769;
    text-transform: uppercase;
}

.header--item-link::before {
    content: '';
    position: absolute;
    background: #17bed2;
    left: -1.5em;
    top: 0.6em;
    width: 9px;
    height: 2px;
    opacity: 0;
}

.header--item-link:hover::before {
    opacity: 1;
    transition: .5s all;
}


/* -----------======== headerInfo ========----------- */

.headerInfo {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.haederInfo__slider-navigation {
    display: flex;
    position: absolute;
    justify-content: center;
    bottom: 3em;
    left: 0;
    right: 0;
    margin: auto;
}

.headerInfo__slides-form input {
    opacity: 0;
}

.headerInfo--slide-img {
    width: 100vw;
    height: 100vh;
    padding-top: 9em;
}

/* .headerInfo--slide-info {
    display: block;
} */

.headerFirstImg {
    background: url(./assets/womenKeepTel.jpg) center no-repeat;
    background-size: cover;
}

.widthHeaderFirstImg {
    animation: noneWidth .5s;
    animation-fill-mode: backwards;
}

@keyframes noneWidth {
    0% {
        width: 100vw;
    }
    100% {
        width: 0px;
    }
}

.widthHeaderSecondImg {
    animation: activeWidth .5s;
    animation-fill-mode: backwards;
}

@keyframes activeWidth {
    0% {
        width: 0px;
    }
    100% {
        width: 100vw;
    }
}

.headerSecondImg {
    background: url(./assets/clockInHand.jpg) center no-repeat;
    background-size: cover;
}

.headerInfo__slides-form {
    position: absolute;
}

.haederInfo--navigation-button {
    background: transparent;
    border: 1px solid #ffff;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    cursor: pointer;
    -webkit-appearance: unset;
}

input:checked {
    background-color: #fff;
    transform: scale(1.2);
}

/* -----------======== mediaLaptop ========----------- */

@media (min-width: 1024px) {
    .header {
        justify-content: space-around;
        border: unset;
    }

    .header__listBlock {
        position: unset;
        background: unset;
    }

    .header__list {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .header__burgerMenu {
        display: none;
    }

    .header--item-link {
        position: relative;
        color: #000;
    }
}