@font-face {
    src: url(./fonts/Roboto-Regular.ttf);
    font-family: 'Roboto-Regular';
}

@font-face {
    src: url(./fonts/Roboto-ThinItalic.ttf);
    font-family: 'Roboto-ThinItalic';
}

@font-face {
    src: url(./fonts/RobotoSlab-Regular.ttf);
    font-family: 'RobotoSlab-Regular';
}

@font-face {
    src: url(./fonts/Roboto-Italic.ttf);
    font-family: 'Roboto-Italic';
}

@font-face {
    src: url(./fonts/Heebo-Black.ttf);
    font-family: 'Heebo-Black';
}